@font-face {
  font-family: "Oswald";
  src: url("../assets/FONTS/Oswald-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: whitesmoke;
  font-family: 'Oswald', sans-serif;
}

body {
  background: #181818;
  min-width: 100vh;
  overflow-x: hidden;
}

/* ------ OVERLAY / LOGIN SUBSCRIBE */

.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 3;
  display: none;
}

.login .login_box {
  height: 250px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #181818;
  border-radius: 20px;
}

.login .login_box .login_form .login_register {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.login .login_box .login_form .login_title h3 {
  text-align: center;
}

.login .login_box .login_form .login_register input {
  outline: none;
  color: #181818;
}

.login .login_box .login_form .login_register form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.login .login_box .login_form .login_register #valider {
  padding: 5px;
  background: #ad3100;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  color: whitesmoke;
}

.login .login_box .login_form .link_sub a {
  position: relative;
}

.login .login_box .login_form .link_sub a:hover::after {
  content: '';
  height: 1px;
  width: 100%;
  /* transform: translate(-50%,-50%); */
  background: whitesmoke;
  bottom: 0;
  left: 0;
  position: absolute;
}

/* ----- OVERLAY / SUBSCRIBE ---- */

.subscribe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 4;
  display: none;
}

.subscribe .sub_box {
  height: 500px;
  width: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #181818;
  border-radius: 20px;
}

.subscribe .sub_box .sub_register h3 {
  text-align: center;
  margin-bottom: 30px;
}

.subscribe .sub_box .sub_register form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.subscribe .sub_box .sub_register .sub_form input {
  outline: none;
  color: #181818;
}

.subscribe .sub_box .sub_register .sub_form #valider {
  color: whitesmoke;
  background: #ad3100;
  cursor: pointer;
}

.subscribe .sub_box .sub_register .link_log {
  text-align: center;
}

.subscribe .sub_box .sub_register .link_log a {
  position: relative;
}

.subscribe .sub_box .sub_register .link_log a:hover::after{
  content: '';
  height: 1px;
  width: 100%;
  /* transform: translate(-50%,-50%); */
  background: whitesmoke;
  bottom: 0;
  left: 0;
  position: absolute;
}

/* ----- NAV BAR --------- */

.nav_bar {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #18181849;
  position: fixed;
  z-index: 1;
}

.nav_bar img {
  height: 50px;
  width: 50px;
}

.nav_bar a {
  text-transform: uppercase;
  width: 16,7%;
  position: relative;
}

.nav_bar a:hover::after {
  content: '';
  height: 1px;
  width: 100%;
  /* transform: translate(-50%,-50%); */
  background: whitesmoke;
  bottom: 0;
  left: 0;
  position: absolute;
}

/* ----- HEADER -------- */

.header_content {
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../assets/header_bg.png) center/cover no-repeat;
  position: relative;
}

.header_shadow {
  height: 500px;
  width: 100%;
  background: rgba(0, 0, 0, 0.281);
  position: absolute;
  z-index: 0;
}

.header_content .header_text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  z-index: 2;
}

.header_content .header_text a {
  background: #ad3100;
  padding: 20px;
  border-radius: 10px;
}

.header_cta {
  margin-top: 50px;
}

/* ----- MAIN / NAV ------ */

.main_content {
  width: 100vw;
}

.main_content .main_nav {
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: space-evenly;
}

.main_content .main_nav .quete a, .main_content .main_nav .hero a, .main_content .main_nav .exploration a {
  width: 100%;
  position: relative;
}


.main_content .main_nav .quete a:hover::after, .main_content .main_nav .hero a:hover::after, .main_content .main_nav .exploration a:hover::after {
  content: '';
  height: 1px;
  width: 100%;
  /* transform: translate(-50%,-50%); */
  background: whitesmoke;
  bottom: 0;
  left: 0;
  position: absolute;
}

/* ------ MAIN PRESENTATION ------ */

.main_presentation {
  width: 100vw;
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-top: 100px;
}

.main_presentation .main_img {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.main_presentation .main_text {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: justify;
  gap: 10px;
}

.main_presentation .main_text p {
  font-size: 22px;
}

.main_presentation .main_img img {
  height: 500px;
  width: 500px;
  box-shadow: 4px 9px 6px 5px rgba(128, 128, 128, 0.151);
}

/* ----- FOOTER ------ */

footer {
  height: auto;
  width: 100vw;  
  background: #181818;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: 2px -2px 13px rgba(128, 128, 128, 0.151);
  margin-top: 100px;
  display: flex;
}

footer .footer_content {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

footer .footer_content .footer_logo {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 10%;
}

footer .footer_content .footer_logo img {
  height: 150px;
  width: 150px;
}

footer .footer_content .footer_links .footer_link {
  width: 100%;
}

footer .footer_content .footer_links .footer_link .links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer .footer_content .footer_links .footer_link .links .hover a {
  position: relative;
}

footer .footer_content .footer_links .footer_link .links .hover a:hover::after {
  content: '';
  height: 1px;
  width: 100%;
  /* transform: translate(-50%,-50%); */
  background: whitesmoke;
  bottom: 0;
  left: 0;
  position: absolute;
}

/* ----- RESEAU ------ */
/* ---- GIT HUB ------ */


footer .footer_content .footer_reseau {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer .footer_content .footer_reseau .github {
  display: flex;
  gap: 10px;
  align-items: center;
}

footer .footer_content .footer_reseau .github img {
  height: 25px;
  width: 25px;
}

footer .footer_content .footer_reseau .github a {
  display: flex;
  align-items: center;
  position: relative;
}

footer .footer_content .footer_reseau .github a:hover::after {
  content: '';
  height: 1px;
  width: 100%;
  /* transform: translate(-50%,-50%); */
  background: whitesmoke;
  bottom: 0;
  left: 0;
  position: absolute;
}

/* ----- LINKEDIN ------- */

footer .footer_content .footer_reseau .linkedin {
  display: flex;
  gap: 5px;
  /* align-items: center; */
}

footer .footer_content .footer_reseau .linkedin img {
  height: 30px;
  width: 30px;
}

footer .footer_content .footer_reseau .linkedin a {
  display: flex;
  align-items: center;
  position: relative;
}

footer .footer_content .footer_reseau .linkedin a:hover::after {
  content: '';
  height: 1px;
  width: 100%;
  /* transform: translate(-50%,-50%); */
  background: whitesmoke;
  bottom: 0;
  left: 0;
  position: absolute;
}

/* ------ JS CLASS ------ */

.show {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 4;
}